{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <table border="1">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{produto.pk}}</td>
                    <td>{{produto.nome}}</td>
                    <td>{{produto.preco}}</td>
                    <td>{{produto.descricao}}</td>
                    <td>{{produto.quantidade}}</td>
                    <td><a href="{% url 'excluir' pk=produto.pk %}" id="del">Remover</a></td>
                    <td><a href="{% url 'editar' pk=produto.pk %}" id="edt">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container" id="teste">
        <a href="{% url 'cadastrar_produto.html' %}"><button type="button" class="botao">Novo Produto</button></a>
    </div>
{% endblock %}